{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <a href="{{ path('task_create') }}" class="btn btn-secondary pull-right">create a task</a>
    <a href="{{ path('task_list') }}" class="btn btn-info pull-right">list of tasks</a>
    <a href="{{ path('homepage') }}" class="btn btn-primary pull-right">Back</a>
    <div class="row tasks-list">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="pull-right">
                        <span class="glyphicon glyphicon-ok"></span>
                    </h4>
                    <h6>Author : {{ task.user.username }}</h6>
                    <h4>{{ task.title }}</h4>
                    <p>{{ task.content }}</p>
                </div>
                <div>
                    <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                        <button class="btn btn-success btn-sm pull-right">
                            Mark Not Complete
                        </button>
                    </form>
                    <form action="{{ path('task_delete', {'id' : task.id }) }}">
                        <button class="btn btn-danger btn-sm pull-right">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                There is no task saved yet.
            </div>
        {% endfor %}
    </div>
{% endblock %}