{% extends 'base.html.twig' %}

{% block header_title %}<h1>Update <strong>{{ user.username }}</strong></h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="p-2">
        <a href="{{ path('user_list') }}" >
        <button class="btn btn-primary">
        Return to Users List
        </button>
        </a>
        <a href="{{ path('homepage') }}" >
        <button class="btn btn-primary">
        Return to homepage
        </button>
        </a>
    </div>
    <div class="row">
        {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        {{ form_row(form.email) }}
        {{ form_row(form.roles) }}
        <button type="submit" class="btn btn-success pull-right">update</button>
        {{ form_end(form) }}
    </div>
{% endblock %}