{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>List of users</h1>{% endblock %}

{% block body %}
    <div class="p-2">
        <a href="{{ path('homepage') }}" >
        <button class="btn btn-primary">
        Return to homepage
        </button>
        </a>
    </div>
    {% if users|length == 0 %}
        <div class="alert alert-warning" role="alert">
           There is no registered user yet. <a href="{{ path('user_create') }}" class="btn btn-warning pull-right">create a user</a>
        </div>
    {% else %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>username</th>
                    <th>user address</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                        {% if is_granted('USER_EDIT', user) %}
                            <a href="{{ path('user_edit', {'id' : user.id}) }}" class="btn btn-success btn-sm">Edit</a>
                        {% endif %}
                        {% if is_granted('USER_DELETE', user) %}
                            <a href="{{ path('user_delete', {'id' : user.id}) }}" class="btn btn-warning btn-sm">Delete</a>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}